<div class="page-header">
  <h1>Projects</h1>
</div>
<div class="row">



  <div class="input-group">
    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
    <span class="input-group-btn">
    <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>search
    </button>
    </span>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Projects</h3>
    </div>
    <div class="panel-body">
      <p>
        Hey! Your projects is here.
      </p>
      <alert type="info" dismissible="true" (click)="close('fuck')">test for ng2-bootstrap</alert>
    </div>
  </div>
</div>